@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Ruposhi Kotiruoka<br />
    Oulu, Finland<br />
    <abbr title="Phone">P:0449892985</abbr>

</address>

<address>
    <strong>Contact Us:</strong>   <a href="mailto:Support@example.com">ruposhikotiruoka@gmail.com</a>

</address>