@{
    ViewBag.Title = "Ruposhi Kotiruoka";
}

<div class="jumbotron">
    <h1>Ruposhi Food Delivery Service </h1>
    <p class="lead">
        Olemme pieni pito-palveluyritys, joka on aloittanut toimintansa Oulussa vuonna 2018.
        Omistaja / kokki on Bangladeshilainen ja asunnut Suomessa jo kymmeniä vuosia nauttien paikallisia suomalaisia herkkuja.
        Ruposhi kotiruoka tarjoilee itä-länsimaisen makujen yhdistelmän.
        Täältä voit löytää Bangladeshilaista ruokaa suomalaisella maulla ja joitain suomalaisia reseptejä Bangladeshin maun mukaan.
        Tilaa ruokaa meiltä ja nauti ainutlaatuisesta yhdistelmästä.
        Voit maksaa tilauksen toimituksen jälkeen käteisellä tai kortilla Toimitukset myös arkipäivisin, kun tilaus tehdään vähintään päivää ennen
    </p>
    <p><a href="http://ruposhikotiruoka.fi/" class="btn btn-primary btn-lg">Check out more &raquo;</a></p>
</div>

